{% extends 'base.html.twig'%}
{% block title %}Ciudadess{% endblock %}
{% block body %}
    <h1>Ficha del ciudades</h1>
    {% if ciudades %}
        {{include ('partials/datos_ciudades.html.twig', {'ciudades':ciudades}) }}
    {% else %}
        <p>Ciudad no encontrada</p>
    {% endif %}
{% endblock %}