{% extends 'base.html.twig' %}
{% block title %} Ciudades {% endblock %}
{% block body %}
    <h1>Listado de ciudades</h1>
    {% if ciudades %}
        {% for ciudades in ciudades %}
            {{include ('partials/datos_ciudades.html.twig', {'ciudades':ciudades}) }}
        {% endfor %}
    {% else %}
        <p>Ciudad no encontrada</p>
    {% endif %}
{% endblock %}